# .NET
bin/
obj/
*.user
*.suo
*.cache
*.csproj.user
*.dbmdl
*.bak
*.backup
*.BLOB
*.VC.db

# Visual Studio
.vs/
v12/
v14/
v15/
v16/
v17/
*.sln.docstates

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
!**/packages/repositories.config
!**/*.csproj
!**/packages.config

# Angular
node_modules/
dist/
.angular/
.cache/
.local/
.tmp/
*.log
*.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
