<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    @if (roles) {
        <mat-card-content>
            <form [formGroup]="form">
              <div>
                <mat-form-field>
                  <mat-label for="fullName"> Nombre</mat-label>
                  <input
                    matInput
                    type="text"
                    class="form-control"
                    formControlName="fullName"
                  />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <mat-label for="username">Email</mat-label>
                  <input
                    matInput
                    type="text"
                    class="form-control"
                    formControlName="username"
                  />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <mat-label for="password" >Contraseña</mat-label>
                  <input
                    matInput 
                    type="password"
                    class="form-control"
                    formControlName="password"
                  />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <mat-label for="role">Rol</mat-label>
                  <mat-select formControlName="role">
                    <mat-option value="" disabled selected class="option-disabled">
                      Seleccionar el rol
                    </mat-option>
                    @for (role of roles; track $index) {
                    <mat-option [value]="role.name">
                      {{ role.name }}
                    </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </form>
            <div mat-dialog-actions class="button-modal-footer">
              <button 
                    mat-raised-button 
                    class="button-modal" 
                    (click)="onCancel()">Cancelar</button>
              <button
                  mat-flat-button
                  class="button-modal"
                  (click)="onSave()"
                  [disabled]="!form.valid"
              >
                {{ buttonSubmit }}
              </button>
            </div>
          </mat-card-content>
    }
  </mat-card>
</div>
